# ==========================================================
# secrets.yaml
# All Credentials & Environment-specific paths.
# ==========================================================

# ==========================================================
# Credentials to Connect with MYSQL
# ==========================================================
mysql:
  source:
    host: "localhost"
    port: 3306
    database: "CHANGE_ME"
    user: "CHANGE_ME"
    password: "CHANGE_ME"
    jdbc_driver: "com.mysql.cj.jdbc.Driver"
    jdbc_jar_package: "mysql:mysql-connector-java:8.0.33"


# =========================================================
# Spark Name with local environment
# =========================================================
spark:
  app_name: "classicmodels_local_pipeline"
  master: "local[*]"
  shuffle_partitions: 2

# =======================================================
# Path to land the data/ Curated and quanrantine
# =======================================================
paths:
  base_dir: "data"
  raw: "data/raw"
  archive: "data/archive"
  curated: "data/curated"
  quarantine: "data/quarantine"
  gold: "data/gold"
  logs: "logs"


# ========================================================
# Warehouse Details
# ========================================================
warehouse:
  mysql:
    host: "localhost"
    port: 3306
    database: "CHANGE_ME"
    user: "CHANGE_ME"
    password: "CHANGE_ME"

# =========================================================
#  MetaData Paths
# =========================================================
metadata:
  table_config_file: "metadata/table_config.json"
  watermark_file: "metadata/watermark_state.json"
  schema_registry_file: "metadata/schema_registry.json"
  run_log_file: "logs/pipeline_run_log.jsonl"     # append-only JSON lines
